{
  "ApplicationInsights": {
    "InstrumentationKey" : "[YOUR APPINSIGHTS INSTRUMENTATION KEY"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*",
  "CosmosDb": {
    "Account": "https://[YOUR COSMOSDB ACCOUNT].documents.azure.com:443/",
    "Key": "[YOUR COSMOSDB PRIMARY KEY]",
    "DatabaseName": "Tasks",
    "ContainerName": "Item"
  }
}
